body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  [data-theme="default"] {
    --fg:         hsl(0,0%,25%);
    --border:     hsl(0,0%,75%);
    
    --bg:         hsl(0,0%,95%);
    --button-bg:  hsl(0,0%,99%);
    --input-bg:   hsl(0,0%,90%);
  }

  [data-theme="pink"] {
    --fg:         hsl(346, 77%, 25%);
    --border:     hsl(346, 77%, 75%);
    
    --bg:         hsl(346, 77%, 95%);
    --button-bg:  hsl(346, 77%, 79%);
    --input-bg:   hsl(346, 77%, 90%);
  }
  
  [data-theme] {
    color: var(--fg);
    background-color: var(--bg);
  }

  .Button {
    color: var(--fg);
    border: 1px solid var(--border);
    background-color: var(--button-bg);
  }
  
  .Input {
    color: var(--fg);
    border: 1px solid var(--border);
    background-color: var(--input-bg);
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .game-board {
    width: 74vmin;
    height: 74vmin;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 33.3%);
    width: 100%;
    height: 100%;
  }

  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background-color: white;
    line-height: 0;
    /* height: 63.333%; */
    /* font-size: 9vmin; */
    border: 2px dashed lightgray;
    box-sizing: border-box;
  }

  svg {
    height: 9vmin;
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    background: gainsboro;
    cursor: pointer;
  }

  .true {
    background: pink;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    background: floralwhite;
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .theme-selector {
    margin: 15px 0;
  }