body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .game-board {
    width: 74vmin;
    height: 74vmin;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: repeat(3, 33.3%);
    width: 100%;
    height: 100%;
  }

  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background-color: white;
    line-height: 0;
    /* height: 63.333%; */
    /* font-size: 9vmin; */
    border: 2px dashed lightgray;
    box-sizing: border-box;
  }

  svg {
    height: 9vmin;
  }
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    background: gainsboro;
    cursor: pointer;
  }

  .true {
    background: pink;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    background: floralwhite;
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  